---
import { url } from '../lib/url.js';
// titre + links: [{ href, label }]
const { titre, links = [] } = Astro.props;
---
{links.length > 0 && (
  <div class="rellinks reveal">
    <h2>{titre}</h2>
    <div class="chips-links">
      {links.map((l) => <a href={url(l.href)}>{l.label}</a>)}
    </div>
  </div>
)}
